// Reset the box-sizing
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  //padding-top: $header-height;
}

html,
body {
  height: 100%;
}

.app{
  min-height:100%;

  &__header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:10;
  }

  &__content{
    min-height:100%;
    padding-top:$header-height;
    padding-bottom:$nav-height;
    width:100%;
  }

  &__nav{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:10;
  }
}