.header{
  height:$header-height;
  background:$header-bg;
  color:$header-color;
  display:flex;
  
  a{
    color:$header-color;
    text-decoration:none;
    @include x-rem(font-size, 14px);
  }

  &__title{
    flex:1;
    line-height:$header-height;
    margin:0;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    @include x-rem(font-size, 18px);
    font-weight:500;
  }

  &__button{
    flex:1;
    max-width:$header-height;
    display:flex;

    .btn{
      flex:1;
    }
  }

  &--search{
    .search_input{
      flex:1;
      display:flex;
    }

    .header--search__close{
      position: relative;
      height:100%;
      flex:0 1 auto;
      align-items: center;
      justify-content: center;
      
      a{
        display:block;
        padding:0 18px;
        height:100%;
        width:100%;
        line-height:$header-height;
      }
      

      &:after{
        $padding:10px;
        content:'';
        position: absolute;
        background:lighten($header-bg, 10);
        height:$header-height - ($padding * 2);
        width:1px;
        left:0;
        top:$padding;
      }

    }
  }
}