.modal{
  $paddingY:50px;
  $paddingX:10px;
  position: fixed;
  left:$paddingX;
  right:$paddingX;
  bottom:$paddingY;
  top:$paddingY;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  
  &.modal--fullscreen{
    left:0;
    right:0;
    top:0;
    bottom:0;

    .modal__content{
      padding:0;
      border-radius: 0;
      // -webkit-overflow-scrolling: touch;
      // overflow-y:scroll;

      // > * { 
      //   transform: translate3d(0,0,0);
      // }
    }

    .page__container{
      height:100%;
      -webkit-overflow-scrolling: touch;
      overflow-y:scroll;

      > * { 
        transform: translate3d(0,0,0);
      }
    }
  }

  &--show ~ .modal__overlay{
    opacity: 1;
    visibility: visible;
  }

  &--show{
    visibility: visible;
  }


  &--card-effect{
    .modal__content{
      transform: translateY(20%);
      opacity: 0;
      transition: all 0.3s;
    }

    &.modal--show .modal__content{
      transform: translateY(0);
      opacity: 1;
    }
  }

  &--slide-effect{
    .modal__content{
      transform: translateY(100%);
      opacity: 1;
      transition: all 0.3s;
    }

    &.modal--show .modal__content{
      transform: translateY(0);
    }
  }

  &__content{
    background: #FCFCFC;
    position: relative;
    border-radius: 12px;
    margin: 0 auto;
    padding:20px;
    height:100%;
    width:100%;
  }
  
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(#000,0.75);
  transition: all 0.15s;
}

